*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background: url(img/background.jpg)no-repeat;
    padding: 10%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}